                <nav>
                    <a href="{{ url("/") }}"> Home </a> |
                    <a href="{{ url("/news/") }}"> News </a> |
                    <a href="{{ url("/applications/") }}"> Applications </a> |
                    <a href="{{ url("/faq/") }}"> FAQ </a> |
                    <a href="{{ site.repository.url ~ '/wiki' }}"> WIKI </a> |
                    <a href="{{ url("/api/") }}"> API </a> |
                    <a href="{{ url("/downloads/") }}"> Downloads </a> |
                    <a href="{{ url("/community/") }}"> Community Network </a>
                </nav>
